<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../styles.css">
    <script src="https://kit.fontawesome.com/86189ed851.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github-dark.min.css"
        integrity="sha512-rO+olRTkcf304DQBxSWxln8JXCzTHlKnIdnMUwYvQa9/Jd4cQaNkItIUj6Z4nvW1dqK0SKXLbn9h4KwZTNtAyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header  navbar-->
    <nav class="navbar flex flex-nowrap sticky">
        <a href="#">
            <div class="navbar-logo flex flex-center">
                <h1>m<strong>U</strong>s<strong>I</strong>k</h1>
            </div>
        </a>

        <ol class="navbar-list">
            <li>
                <a href="#" class="navbar-list-item">Home</a>
            </li>

            <li>
                <a href="#" class="navbar-list-item">Documentation</a>
            </li>

            <li>
                <a href="https://github.com/Omkar-Ghate" class="navbar-list-item icons">
                    <i class="fab fa-github"></i>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/omkarghate/" class="navbar-list-item icons">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>

            <li>
                <a href="https://twitter.com/OmkarGhate9" class="navbar-list-item icons">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>

            <li>
                <a href="#" class="navbar-list-item icons">
                    <i class="fas fa-moon"></i>
                </a>
            </li>

        </ol>
    </nav>



    <!-- documentation page  -->
    <section class="doc flex ">

        <!-- sidebar -->
        <section class="component-navbar ">
            <div class="sidebar">
                <h1 class="component-navbar-heading">Getting Started</h1>
                <a href="#">
                    <li class="component-navbar-item">Usage</li>
                </a>

                <h1 class="component-navbar-heading">Components</h1>
                <ul>
                    <a href="../avatar/avatar.html">
                        <li class="component-navbar-item">Avatar</li>
                    </a>
                    <a href="../badge/badge.html">
                        <li class="component-navbar-item">Badge</li>
                    </a>
                    <a href="../alert/alert.html">
                        <li class="component-navbar-item">Alert</li>
                    </a>
                    <a href="../button/button.html">
                        <li class="component-navbar-item">Button</li>
                    </a>
                    <a href="../card/card.html">
                        <li class="component-navbar-item">Card</li>
                    </a>
                    <a href="#">
                        <li class="component-navbar-item">Images</li>
                    </a>
                    <a href="#">
                        <li class="component-navbar-item">Input</li>
                    </a>
                </ul>
            </div>
        </section>

        <!-- centre documentation -->
        <section class="component-doc ">
            <h1 id="#" class="comp-main-heading component-navbar-heading">Images</h1>
            <p class="comp-doc-p">Images can be responsive to fit the parent's width, and also can be customised to be round shaped</p>

            <!-- responsive-image -->
            <h1 id="responsive-image" class="comp-main-subheading">Responsive Image</h1>
            <p class="comp-doc-p">You can add class <span class="primary-text-color">img-responsive </span>  to make your image fit the width of container. It's height will get adjusted by keeping the aspect ratio same. If you want to change the aspect ratio, you will have to crop the image.
            </p>

            <div class="component-wrapper flex flex-wrap flex-centre">
                <img loading="lazy" class="img-responsive" src="../../../assets/images/responsive-img.jpg">
            </div>

            <div class="iframe-wrapper">
                <code><iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0%29&t=one-light&wt=sharp&l=auto&width=680&ds=false&dsyoff=3px&dsblur=13px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-responsive%2522%2520src%253D%2522..%2522%2520alt%253D%2522..%2522%253E"
                    style="width: 100%; height: 93px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </code>
            </div>

            <!-- round-image -->
            <h1 id="round-image" class="comp-main-subheading">Round Image</h1>
            <p class="comp-doc-p">You can add class <span class="primary-text-color">img-round</span> to make your image round shaped.</p>
            <div class="component-wrapper flex flex-wrap flex-centre">
                <img loading="lazy" class="img-round" src="../../../assets/images/round-img.svg">
            </div>

            <div class="iframe-wrapper">
                <code><iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0%29&t=one-light&wt=sharp&l=auto&width=680&ds=false&dsyoff=3px&dsblur=13px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-round%2522%2520src%253D%2522...%2522%2520%253E"
                    style="width: 100%; height: 93px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </code>
            </div>

            <!-- prev-next btns  -->
            <div class="next-prev-btns flex ">
                <a href="../card/card.html">
                    <button class="btn btn-footer">
                        <i class="fas fa-angle-left"></i> Card
                    </button>
                </a>
                <a href="../input/input.html">
                    <button class="btn btn-footer">Input <i class="fas fa-angle-right"></i>
                    </button>
                </a>
            </div>
        </section>

        <!-- on this page  -->
        <section class="on-this-page flex f-end flex-nowrap">
            <div class="on-this-page-bar ">
                <h1 class="component-navbar-heading">On This Page</h1>
                <a href="#responsive-image">
                    <li class="component-navbar-item">Responsive Image</li>
                </a>
                <a href="#round-image">
                    <li class="component-navbar-item">Round Image</li>
                </a>
                
            </div>
        </section>
    </section>
</body>

</html>