<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../styles.css">
    <script src="https://kit.fontawesome.com/86189ed851.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github-dark.min.css"
        integrity="sha512-rO+olRTkcf304DQBxSWxln8JXCzTHlKnIdnMUwYvQa9/Jd4cQaNkItIUj6Z4nvW1dqK0SKXLbn9h4KwZTNtAyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header  navbar-->
    <nav class="navbar flex flex-nowrap sticky">
        <a href="#">
            <div class="navbar-logo flex flex-center">
                <h1>m<strong>U</strong>s<strong>I</strong>k</h1>
            </div>
        </a>

        <ol class="navbar-list">
            <li>
                <a href="#" class="navbar-list-item">Home</a>
            </li>

            <li>
                <a href="#" class="navbar-list-item">Documentation</a>
            </li>

            <li>
                <a href="https://github.com/Omkar-Ghate" class="navbar-list-item icons">
                    <i class="fab fa-github"></i>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/omkarghate/" class="navbar-list-item icons">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>

            <li>
                <a href="https://twitter.com/OmkarGhate9" class="navbar-list-item icons">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>

            <li>
                <a href="#" class="navbar-list-item icons">
                    <i class="fas fa-moon"></i>
                </a>
            </li>

        </ol>
    </nav>



    <!-- documentation page  -->
    <section class="doc flex ">

        <!-- sidebar -->
        <section class="component-navbar ">
            <div class="sidebar">
                <h1 class="component-navbar-heading">Getting Started</h1>
                <a href="#">
                    <li class="component-navbar-item">Usage</li>
                </a>

                <h1 class="component-navbar-heading">Components</h1>
                <ul>
                    <a href="#">
                        <li class="component-navbar-item">Avatar</li>
                    </a>
                    <a href="#">
                        <li class="component-navbar-item">Badge</li>
                    </a>
                    <a href="#">
                        <li class="component-navbar-item">Alert</li>
                    </a>
                    <a href="#">
                        <li class="component-navbar-item">Button</li>
                    </a>
                    <a href="#">
                        <li class="component-navbar-item">Card</li>
                    </a>
                    <a href="#">
                        <li class="component-navbar-item">Images</li>
                    </a>
                    <a href="#">
                        <li class="component-navbar-item">Input</li>
                    </a>
                </ul>
            </div>
        </section>

        <!-- centre documentation -->
        <section class="component-doc ">
            <h1 id="#" class="comp-main-heading component-navbar-heading">Alerts</h1>
            <p class="comp-doc-p">Alerts are used to attract user's attention for important information without
                interrupting the user's flow.</p>

            <!-- alert-bar-without-close-button -->
            <h1 id="#" class="comp-main-subheading">Alert bar without close button</h1>
            <p class="comp-doc-p">Alerts are available in 5 types- success alert, error alert, warning alert, primary
                alert, secondary alert.
                To use this alert just use class name alert-box and also add class according to alert type-
                alert-primary, alert-secondary, alert-danger, alert-success, alert-warning. (e.g.class="alert-box
                alert-primary").</p>

            <div class="component-avatar flex flex-wrap flex-centre">
                <div class="alert-box alert-primary">A primary alert example with a text link <a
                        class="link-text link-text-primary">Check it out!</a>
                </div>
                <div class="alert-box alert-secondary">A secondary alert example!!!!
                </div>
                <div class="alert-box alert-success"><span class="alert-icon"><i
                            class="fas fa-check-circle"></i></span>A success alert example!!!!
                </div>
                <div class="alert-box alert-danger"><span class="alert-icon"><i class="fas fa-exclamation-triangle"></i>
                    </span>A danger alert example!!!!
                </div>
                <div class="alert-box alert-warning"><span class="alert-icon"><i
                            class="fas fa-exclamation-triangle"></i></span> A warning alert example!!!
                </div>
            </div>

            <div class="iframe-wrapper">
                <code><iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0%29&t=one-light&wt=sharp&l=auto&width=680&ds=false&dsyoff=3px&dsblur=13px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar-sq%2520avatar-xl%2522%253E%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522%2522%2520%252F%253E%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522avatar-sq%2520avatar-l%2522%253E%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522%2522%2520%252F%253E%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522avatar-sq%2520avatar-md%2522%253E%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522%2522%2520%252F%253E%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522avatar-sq%2520avatar-s%2522%253E%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522%2522%2520%252F%253E%253C%252Fdiv%253E"
                    style="width: 100%; height: 133px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </code>
            </div>

            <h1 id="#" class="comp-main-subheading">Alert bar with close button</h1>
            <p class="comp-doc-p">Alert can have cross icon to close the alert. Check out html and vanilla JS code
                below.</p>
            <div class="component-avatar flex flex-wrap flex-centre">
                <div class="alert-box alert-warning" id="alert-example-close">
                    <span class="alert-icon">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span> A warning alert example!!!
                    <button type="button" class="btn-close" id="alert-example-close-btn"></button>
                </div>
            </div>

            <!-- prev-next btns  -->
            <div class="next-prev-btns flex ">
                <a href="#">
                    <button class="btn btn-footer">
                        <i class="fas fa-angle-left"></i> Typography
                    </button>
                </a>
                <a href="#">
                    <button class="btn btn-footer">Badge <i class="fas fa-angle-right"></i>
                    </button>
                </a>
            </div>
        </section>

        <!-- on this page  -->
        <section class="on-this-page flex f-end flex-nowrap">
            <div class="on-this-page-bar ">
                <h1 class="component-navbar-heading">On This Page</h1>
                <a href="#profile-avatar">
                    <li class="component-navbar-item">Profile Avatar</li>
                </a>
                <a href="#square-avatar">
                    <li class="component-navbar-item">Square Avatar</li>
                </a>
                <a href="#text-avatar">
                    <li class="component-navbar-item">Text Avatar</li>
                </a>
            </div>
        </section>

    </section>

    <!-- highlight.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>