.component-avatar{
    margin: 2.5rem 0;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
    max-width: var(--padding-act-comp-box);
    background-color: var(--BG-PRIMARY);
    overflow-y: scroll;
}
.avatar {
    display: flex;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}
.avatar-sq {
    border-radius: 10px;
}
.avatar-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.v1 {
    background-color:var(--SECONDARY-S1);
    border-radius: 10px;
}
.v2 {
    background-color:var(--SECONDARY-S2);
    border-radius: 50%;
}
.v3 {
    background-color:var(--SECONDARY-S3);
    border-radius: 10px;
}
.avatar-xl{
    width: 5.5rem;
    height: 5.5rem;
}
.avatar-l{
    width: 4.5rem;
    height: 4.5rem;
}
.avatar-md{
    width: 4rem;
    height: 4rem;
}
.avatar-s{
    width: 3rem;
    height: 3rem;
}
.sq-avatar{
    border-radius: 8px;
}
.component-avatar::-webkit-scrollbar {
    display: none;
}
.component-avatar > img {
    border: 2px solid white;
}