@import url(./utils.css);

/* header navbar  */
.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar{
    background-color: white;
    padding: 1rem 3rem;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--SECONDARY-S2);
    margin-bottom: 8px; 
}
.navbar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 1.2rem;
    font-family: 'Quintessential', cursive;
}
strong {
    font-size: 3rem;
    color: var(--PRIMARY-P1);
}
.navbar-list{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    text-transform: capitalize;
    color: var(--SECONDARY-S1);
    font-size: var(--navbar20);
    line-height: 12px;
    font-family: "sofia-pro",sans-serif;
    font-weight: 500;
}
.navbar-list-item{
    color: var(--SECONDARY-S1);
}
.icons{
    width: 24px;
    height: 24px;
}
.navbar-list-item:hover{
    color: var(--PRIMARY-P2);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar {
  background-color: white;
  padding: 1rem 5rem;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-transform: capitalize;
  color: var(--SECONDARY-S1);
  font-size: var(--navbar20);
  line-height: 12px;
  font-family: "sofia-pro", sans-serif;
  font-weight: 500;
}
.navbar-list-item {
  color: var(--SECONDARY-S1);
}
.icons {
  width: 24px;
  height: 24px;
}
.navbar-list-item:hover {
  color: var(--PRIMARY-P1);
}

/* media queries of header navbar */
.phone-navbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .phone-navbar {
    display: flex;
    padding: 0.625rem 0;
    width: 100vw;
    height: 5rem;
    border-radius: 0;
    background-color: var(--COMPLIMENTARY);
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .phone-nav-list {
    padding: 0 3rem;
  }
  .phone-navbar .navbar-logo {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0 5.5rem;
  }
  .phone-nav-body {
    width: 100vw;
    height: 80vh;
    background-color: var(--COMPLIMENTARY);
    border-radius: 0px;
    align-items: center;
  }
  .bar-icon {
    border: none;
    background-color: var(--COMPLIMENTARY);
  }
  .hr-phone-nav {
    margin: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    display: none;
  }
  .phone-navbar {
    display: flex;
    padding: 0.625rem 0;
    width: 100vw;
    height: 5rem;
    border-radius: 0px;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .phone-nav-list {
    padding: 0 3rem;
  }
  .phone-navbar .navbar-logo {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0 5.5rem;
  }
  .phone-nav-body {
    width: 100vw;
    height: 80vh;
    background-color: white;
    border-radius: 0px;
    align-items: center;
  }
  .phone-nav-body .navbar-list {
    margin: 1rem;
  }
  .bar-icon {
    border: none;
    background-color: white;
  }
  .hr-phone-nav {
    margin: 1rem;
  }
}


/*  side sidebar */
.component-navbar{
    margin: 20px 0px 0 70px;
    height: 100vh;
    width: 20%;
}
.sidebar{
    position: fixed;
    height: 100vh;
}

@media screen and (max-width: 600px) {
    .component-navbar{
        display: none;       
    }
  }

  @media screen and (max-width: 900px) {
    .component-navbar{
        display: none;       
    }
}

/* on this page  */
.on-this-page{
    width: 20%;
    margin: 20px 70px 0 0;
}
.on-this-page-bar{
    position: fixed;
    height: 100vh;
}
.component-navbar-item {
    font-size: var(--side-navbar-subheading);
    font-weight: 200;
    color: var(--SECONDARY-S1);
    margin-bottom: 8px;
}
.component-navbar-item:hover{
    color: var(--PRIMARY-P3);
}
@media screen and (max-width: 600px) {
    .on-this-page{
        display: none;        
    }
  }
@media screen and (max-width: 900px) {
    .on-this-page{
        display: none;
    }
}

/* header navbar  */
.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar {
  background-color: white;
  padding: 1rem 5rem;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-transform: capitalize;
  color: var(--SECONDARY-S1);
  font-size: var(--navbar20);
  line-height: 12px;
  font-family: "sofia-pro", sans-serif;
  font-weight: 500;
}
.navbar-list-item {
  color: var(--SECONDARY-S1);
}
.icons {
  width: 24px;
  height: 24px;
}
.navbar-list-item:hover {
  color: var(--PRIMARY-P1);
}

/* media queries of header navbar */
.phone-navbar {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .phone-navbar {
    display: flex;
    padding: 0.625rem 0;
    width: 100vw;
    height: 5rem;
    border-radius: 0;
    background-color: var(--COMPLIMENTARY);
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .phone-nav-list {
    padding: 0 3rem;
  }
  .phone-navbar .navbar-logo {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0 5.5rem;
  }
  .phone-nav-body {
    width: 100vw;
    height: 80vh;
    background-color: var(--COMPLIMENTARY);
    border-radius: 0px;
    align-items: center;
  }
  .bar-icon {
    border: none;
    background-color: var(--COMPLIMENTARY);
  }
  .hr-phone-nav {
    margin: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    display: none;
  }
  .phone-navbar {
    display: flex;
    padding: 0.625rem 0;
    width: 100vw;
    height: 5rem;
    border-radius: 0px;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .phone-nav-list {
    padding: 0 3rem;
  }
  .phone-navbar .navbar-logo {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0 5.5rem;
  }
  .phone-nav-body {
    width: 100vw;
    height: 80vh;
    background-color: white;
    border-radius: 0px;
    align-items: center;
  }
  .phone-nav-body .navbar-list {
    margin: 1rem;
  }
  .bar-icon {
    border: none;
    background-color: white;
  }
  .hr-phone-nav {
    margin: 1rem;
  }
}
