:root {
    --PRIMARY-P1: #c81f20;
    --PRIMARY-P2: #d4312d;
    --PRIMARY-P3: #e26363;
    --SECONDARY-S1: #1a95d6;
    --SECONDARY-S2: #585c97;
    --SECONDARY-S3: #222069;
    --TERTIARY: #282c3f;


    --COMPLIMENTARY: #eff0f8;
    --BG-PRIMARY: #f7edecdb;

    --DANGER: rgb(221, 11, 11);
    --WARNING: rgb(204, 129, 60);
    --INFO: rgb(77, 77, 235);
    --SAFE: rgb(103, 136, 38);
    

    --BORDER_RADIUS: 8px;
    
    --navbar20:1.25rem;

    --title: 3rem;
    --subtitle: 1.25rem;
    --side-navbar-heading: 1.5rem;
    --side-navbar-subheading:1.25rem;

    --padding-act-comp-box:50rem;

    --cta-btn-font-size: 1rem;
    --DOC-DESCRIPTION: 'Poppins', sans-serif;
}