@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Lato&family=Lobster&family=Poppins:wght@300&family=Quintessential&family=Roboto:wght@300;400&display=swap');
* {
  margin: 0px;
  padding: 0px;
  border-radius: var(--BORDER_RADIUS);
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* flex-properties */
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.f-col {
  flex-direction: column;
}
.flex-centre {
  align-items: center;
  justify-content: center;
}
.f-end {
  justify-content: flex-end;
}
.flex-items {
  margin: 2px;
}

/* margins */
.mg-16 {
  margin: 16px 0;
}
.mg-top20 {
  margin-top: 20px;
}
.mg-top40 {
  margin-top: 40px;
}
.postion {
  position: absolute;
  top: 20px;
  right: 20px;
}
.bg {
  background-color: transparent;
}

/* typography: fonts */
.main-heading {
  margin-top: 100px;
  text-align: center;
}
.main-heading-logo {
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}
.main-heading-title {
    font-family: 'Headland One', serif;
  font-size: var(--title);
  font-weight: 500;
  color: var(--SECONDARY-S1);
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.main-heading-subtitle {
  font-family: "Recoleta-light";
  font-size: var(--subtitle);
  font-weight: 400;
  color: var(--sec-dark-purple);
  text-align: center;
}
.h1, h1{
  font-size: 2.5rem;
}
.h2, h2{
  font-size: 2rem;
}
.h3, h3{
  font-size: 1.8rem;
}
.h4, h4{
  font-size: 1.5rem;
}
.h5, h5{
  font-size: 1.3rem;
}
.h6, h6{
  font-size: 1.2rem;
}
p, .p{
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.5;
}

.body-cp-lg{
  font-size: 1.5rem;
}
.body-cp-rg{
  font-size: 1rem;
}
.body-cp-md{
  font-size: 14px;
}
.body-cp-sm{
  font-size: 12pxrem;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.vertical-middle{
  justify-content: center;
  align-items: center;
}
.vertical-middle-self{
  align-self: center;
  justify-self: center;
}
.text-strike-through{
  text-decoration: line-through;
}
.text-underline{
  text-decoration: underline;
}
.text-bold-weight{
  font-weight: 700;
}
.text-light-weight{
  font-weight: 300;
}
.text-regular-weight{
  font-weight: 500;
}
.text-small-size{
  font-size: 0.875rem;
}
.text-mark{
  background-color: var(--PRIMARY-P3);
}
.primary-text-color{
  color: var(--PRIMARY-P1);
}
.secondary-text-color{
  color: var(--SECONDARY-S1);
}
.tertiary-text-color{
  color: var(--TERTIARY)
}
.safe-text-color {
  color: var(--SAFE);
}
.danger-text-color {
  color: var(--DANGER);
}
.warning-text-color {
  color: var(--WARNING);
}
.padding-around-span{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media screen and (max-width: 768px){
  
  .h1, h1{
      font-size: 2rem;
  }
  .h2, h2{
      font-size: 1.75rem;
  }
  .h3, h3{
      font-size: 1.5rem;
  }
  .h4, h4, .h5, h5, .h6, h6{
      font-size: 1.25rem;
  }
  .body-cp-lg{
      font-size: 1.15rem;
  }
}

/* side-navbar */
.component-navbar-heading {
  font-size: var(--side-navbar-heading);
  color: var(--sec-dark-purple);
  font-family: 'Headland One', serif;
  font-weight: 400;
  margin-bottom: 8px;
}

/* documentation-style */
.doc {
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: stretch;
  column-gap: 8px;
}
.component-doc {
  width: 42%;
}
.comp-main-heading {
    font-size: 2.5rem;
    color: var(--PRIMARY-P1);
}
.comp-main-subheading {
    margin: 5px 0px;
    font-size: 1.5rem;
    font-family: "sofia-pro",sans-serif;
    color: var(--SECONDARY-S2);
}
.comp-doc-p {
  font-size: 1rem;
  font-family: var(--DOC-DESCRIPTION);
}

.component-wrapper {
  margin: 2.5rem 0;
  padding: 1.2rem;
  gap: 10px;
  border-radius: 5px;
  max-width: var(--padding-act-comp-box);
  background-color: var(--BG-PRIMARY);
  font-family: var(--DOC-DESCRIPTION);
}

/* iframes */
.iframe-wrapper {
  overflow: auto;
  width: 100%;
  margin: 3rem auto 4rem auto;
  padding-top: 1rem;
  background: var(--CARBON);
  text-align: center;
}
.iframe-wrapper code iframe {
  width: 100%;
}

/* lists-style */
.list-style-none{
  list-style: none;
  padding-inline-start: 0;
}
.inline-list{
  display: flex;
}
.list-inline-item:not(:last-of-type){
  margin-right: 1.5rem;
}
.styled-list{
  margin-bottom: 1rem;
  font-family: var(--DOC-DESCRIPTION);
}
.styled-list li:not(:last-child){
  padding-bottom: 0.625rem;
}
.list-style-circle{
  list-style-type: circle;
}
.list-style-square{
  list-style-type: square;
}
.list-style-small-alpha{
  list-style-type:lower-alpha;
}
.list-style-capital-alpha{
  list-style-type:upper-alpha;
}
.list-style-small-roman{
  list-style-type:lower-roman;
}
.list-style-capital-roman{
  list-style-type:upper-roman;
}
.list-container{
  border-radius: 0.3rem;
  background-color: #f7f5f5;
  padding: 1rem 32px 1rem 40px;
}
.list-style-none.list-container{
  padding-inline-start: 32px;
}

.stacked-list{
  list-style: none;
  padding-inline-start: 0;
}
.stacked-list li:not(:last-child){
  margin-bottom: 1rem;
}
.stacked-list li{
  border: 1px solid;
}

.nested-list{
  margin-top: 0.5rem;
}

/* responsive-images */
.img-responsive{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 900px) {
  .component-doc {
    margin: 20px;
    white-space: normal;
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .component-doc {
    margin: 10px;
    white-space: normal;
    width: 95%;
  }
}
